.cta {
  position: relative;
}

.cta-img {
  background-image: url(../images/food-background-cta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 11rem;
}

/* Wiggle animation - keyframe */
button {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #f1f1f1;
  background-color: #f00;
  border: 1px solid #010101;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  animation: wiggle 2.5s ease-in-out infinite;
}

@keyframes wiggle {
  5% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  10% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  15% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  20%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
